# Ignore compiled Java class files
*.class

# Ignore build directories
/target/

# Ignore IDE files
.idea/
.vscode/

src/allFile/*
src/backupfiles/*
src/AllFile/*

src/allFile/
src/backupfiles/
src/AllFile/